<h1>Enter names for battle</h1>
<form action='/names' method='post'>
Player 1:<br> 
<input type="text" name="player_1" placeholder="Player 1">
<br>
Player 2: <br>
<input type="text" name="player_2" placeholder="Player 2">
<br>
<input type="submit" id="submit" value="submit names">